{% extends 'layouts/base.html.twig' %}

{% block title 'Create Pin | ' ~ parent() %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Add a new Pin</h3>
        {{ include('pins/_form.html.twig') }}
    </div>
</div>
{% endblock %}