{% extends 'layouts/base.html.twig' %}

{% block title 'Create Pin | ' ~ parent() %}

{% block body %}
    <h1><a href=" {{path('home')}} " title="home">Pinterest</a></h1>
    <article>
        <h3>Add a new Pin</h3>
    </article>
    <article>
        {{ include('pins/_form.html.twig') }}
    </article>
{% endblock %}