{% extends 'base.html.twig' %}

{% block title 'Create Pin | ' ~ parent() %}

{% block body %}
    <article>
        <h3>
            <a href=" {{path('home')}} ">Home</a>
        </h3>
    </article>
    <h1>Add a new Pin</h1>
    <article>
        {{ include('pins/_form.html.twig' }}
    </article>
{% endblock %}