{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id ~ " | " ~ parent() %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Edit a new Pin</h3>
        {{ include('pins/_form.html.twig', {'submitButtonText':'Update'}) }}
    </div>
</div>
{% endblock %}