{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id ~ " | " ~ parent() %}

{% block body %}
    <h1><a href=" {{path('home')}} " title="home">Pinterest</a></h1>
    <article>
        <h3>Edit a new Pin</h3>
    </article>
    <article>
        {{ include('pins/_form.html.twig', {'submitButtonText':'Update'}) }}
    </article>
{% endblock %}