{% extends 'base.html.twig' %}

{% block title 'Best Pins On Earth | ' ~ parent() %}

{% block body %}
    <h1>{{pluralize(pins|length, 'Pin', 'Pinus')}}</h1>
    <article>
        {% for pin in pins %}
            <h2>{{pin.title}}</h2>
            <p>{{pin.description}}</p>
        {% endfor %}
    </article>
{% endblock %}
