{% extends 'base.html.twig' %}

{% block title 'Best Pins On Earth | ' ~ parent() %}

{% block body %}
    <h1>Pinterest</h1>
    <article>
        <h2>
            <a href=" {{path('all_pins')}} ">Show All Pins</a>
        </h2>
        <h2>
            <a href=" {{path('create_pin')}} ">Add Pin</a>
        </h2>
    </article>
{% endblock %}
