{% extends 'layouts/base.html.twig' %}

{% block title 'Best Pins On Earth | ' ~ parent() %}

{% block body %}
    <article>
        <h3>
            <a href=" {{path('create_pin')}} ">Add</a> | 
            <a href=" {{path('all_pins')}} ">Show</a>
        </h3>
    </article>
{% endblock %}
